<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employees</title>
<link rel="shortcut icon" href="/demo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/demo/css/demo.css">
</head>
<body>
	<div th:replace="header :: top"></div>
	<div th:replace="header :: #sidebar(activeUri='emp')"></div>
	<div style="position: absolute;left:178px; top: 72px;  position: absolute;">
	    <button>新建员工</button>
		<table>
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>年龄</th>
					<th>职务</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp:${emps}">
					<td th:text="${emp.emp_no}"></td>
					<td th:text="${emp.name}"></td>
					<td th:text="${emp.age}"></td>
					<td th:text="${emp.job}"></td>
					<td>
					   <button>编辑</button>
					   <button>删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>